html, body{
  margin: 0;
  padding: 0;
  color: #494949;
  height: 100%;
  overflow-x: hidden;
  font-size: 20px;
  font-family: sans-serif, arial, Georgia, serif;
}

.container{
  position: relative;
  max-width: 960px;
  margin: 5% 0 5% 21%;
  display: grid;
  grid-template-columns: 2f 4f;
  grid-template-areas:
  "header header"
  "nav nav"
  "main main"
  "section section"
  "footer footer"

}
header{
  grid-area: header;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 20px;
}
header #logo{
  display: flex;
  flex-direction: row;
  align-items: center;
}
header span{
  color: rgb(238, 103, 103);
}
header h1{
  font-size: 1.7em;
  font-weight: 700;
  margin: 0;
  padding-left: 10%;
}

header #logo img{
  margin: 0;
  height: auto;
  width: 10%;
}

header #contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 50%;
  color: rgb(99, 99, 99);
  text-align: right;
  margin: 0;
}


header h2{
  font-weight: 700;
  margin: 0;
  padding-bottom: 10px;
  font-size: 1.4em;
  padding-right: 10%;
}
header #contact h2 img{
  width: 10%;
  height: auto;
}
header p{
  font-size: 0.7em;
  padding-right: 20%;
  width: 100%;
  margin: 0;
}

nav{
  grid-area: nav;
  margin-top: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  border-bottom: 2px solid rgb(238, 103, 103);
}

nav ul li{
  display: inline;
  list-style: none;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 25px;
  padding-bottom: 25px;
}

nav ul li:hover{
  border-bottom: 5px solid rgb(127, 104, 238);
  cursor: pointer;
}


nav ul li a{
  font-weight: 700;
  color: #494949;
  text-decoration: none;
}

main{
  grid-area: main;
  width: 100%;
  height: 1000px;
  align-items: center;
}

main img{
  padding-left: 20%;
  width: 60%;
  height: auto;
}

main h2{
  margin: 0;
  text-align: center;
  padding-top: 90px;
  left: 15%;
  font-size: 2.5em;
  font-weight: 100;
  color: rgb(238, 103, 103);
}

main h3{
  margin-top: 140px;
  font-size: 2em;
  color: rgb(238, 103, 103);
  border: 3px solid rgb(238, 103, 103);
  padding: 15px;
}
#services{
  grid-area: section;
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-content: center;
  text-align: center;
}

#services div{
  border-radius: 50px;
  background: #e0e0e0;
  margin: 5%;
  padding: 20px;
  height: 300px;
  flex: 1;
  transition: height 1s;
}

#services button{
  opacity: 0;
  background: rgb(238, 103, 103);
  color: #fff;
  font-weight: 600;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 0.8em;
  width: 40%;
  height: 50px;
  border: none;
  transition: opacity 1s;
}

#services button:hover{
  cursor: pointer;
}

#services div img{
  border-radius: 50px;
  width: 100%;
  height: auto;
}

#services div h2{
  opacity: 1;
  font-size: 1.7em;
  color: rgb(255, 255, 255);
  margin-top: 20px;
  margin-bottom: 0;
  transition: opacity 1s;
}

.newsletter .cont{
  display: flex;
  flex-direction: column;
  margin-top: 140px;
}

.newsletter .cont .text{
  line-height: 1.2em;
  text-align: center;
}

.newsletter .cont .text h2{
  text-align: center;
  font-size: 2em;
  color: rgb(238, 103, 103);
  border: 3px solid rgb(238, 103, 103);
  padding: 15px;
}

.newsletter .cont .text p{
  padding-top: 30px;
}
.newsletter .cont .forms{
  margin-top: 80px;
}
.newsletter .cont #name,#password{
  font-size: 0.8em;
  margin-bottom: 10px;
  height: 40px;
  width: 80%;
}

.newsletter .cont #sub{
  height: 50px;
  width: 30%;
  border: none;
  border-radius: 5px;
  background: rgb(238, 103, 103);
  color: #fff;
  font-size: 0.8em;
  font-weight: bold;
}

.newsletter .cont #sub:hover{
  cursor: pointer;
  background: rgb(222, 83, 83);
}


footer{
  grid-area: footer;
  background: rgb(238, 103, 103);
  height: 70px;
  width: 100%;
  margin-top: 100px;
  padding: 10px;
  font-size: 1.2em;
}

@media screen and (max-width: 1000px){
  main{
    height: 800px;
  }

  main h2{
    font-size: 2em;
  }
  #services{
    margin-top: 80px;
  }

  #services h2{
    font-size: 1.2em !important;
    line-height: 1em;
    margin-top: 40px !important;
  }

  #services div{
    margin: 3%;
    height: 200px;
  }

  #services div img{
    width: 100%;
  }
  #services button{

    margin-top: 0 !important;
  }
}

@media screen and (max-width: 700px){
  main{
    height: 650px;
  }
}
